@media (min-width: 375px) {
  .about-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(./images/mobile_intro_bg.png) no-repeat;
    background-size: cover;
  }

  .about-home-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
  }

  .about-home h1 {
    text-transform: uppercase;
    color: #f9432f;
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
    width: 60%;
    position: relative;
    margin-bottom: 35px;
  }

  .about-home h1::after {
    content: '';
    position: absolute;
    width: 30%;
    height: 1px;
    background: var(--color-secondary);
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about-home .about-home-details {
    display: none;
  }

  .mobile-about-details {
    display: block;
    background: #fff;
    width: 100%;
    padding: 20px 12px;
  }

  .date-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #7a7a7a;
    text-align: center;
    width: 80%;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
  }

  .date-time a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #5f5f5f;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0.24px;
    text-decoration-line: underline;
  }

  .about-story {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    gap: 2rem;
  }

  .about-story h2 {
    color: #2c2c2c;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.9px;
    position: relative;
  }

  .about-story h2::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 1px;
    background: var(--color-secondary);
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about-story p {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #838383;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.48px;
  }

  .about-story img {
    width: 375px;
    height: 192px;
    object-fit: cover;
  }

  .line {
    margin: 65px 0;
    width: 100%;
    height: 0.125rem;
    background-color: #f5f5f6;
  }

  .about-events {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    gap: 2rem;
  }

  .about-events h2 {
    color: #2c2c2c;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.9px;
    position: relative;
  }

  .about-events h2::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 1px;
    background: var(--color-secondary);
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about-events .event-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .event-images .image-1 {
    width: 350px;
    height: 200px;
    background: url(./images/IMG20221118125336.jpg) no-repeat;
    background-size: cover;
  }

  .image-1 .image-text-1 {
    background: var(--color-secondary);
    width: 350px;
    height: 200px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
  }

  .event-images .image-2 {
    width: 350px;
    height: 200px;
    background: url(./images/284602721_2785704508405102_2518887999559923429_n.jpg) no-repeat;
    background-size: cover;
  }

  .image-2 .image-text-2 {
    background: var(--color-secondary);
    width: 350px;
    height: 200px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .about-home {
    background: url(./images/main_big.png) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 35px;
  }

  .about-home-text {
    width: 80%;
  }

  .about-home-text h1 {
    font-size: 3rem;
  }

  .about-home .about-home-details {
    background: #fff;
    padding: 35px 65px;
    flex-direction: column;
    display: block;
    justify-content: center;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    align-items: flex-start;
    gap: 10px;
  }

  .mobile-about-details {
    display: none;
  }

  .about-home .date-time {
    display: grid;
    gap: 1rem;
  }

  .about-story img {
    width: 542px;
    height: 192px;
    object-fit: cover;
  }

  .about-home .date-time h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #7a7a7a;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.48px;
  }

  .about-home .date-time p a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #5f5f5f;
    text-align: center;
    font-size: 17px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0.34px;
    text-decoration-line: underline;
  }
}
