@media (min-width: 375px) {
  .about-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(./images/mobile_intro_bg.png) no-repeat;
    background-size: cover;
    padding: 0 2rem;
  }
  
  .about-home h2 {
    color: var(--color-secondary);
    font-size: 1.25rem;
    font-weight: 400;
  }
  
  .about-home h1 {
    text-transform: uppercase;
    color: transparent;
    font-weight: 900;
    font-size: 3rem;
    background: url(./images/orange.jpeg) no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
  }

  .about-home .about-home-details {
    background: #f7f7f7;
    padding: 1.5rem 0;
    border: 3px solid white;
    margin: 1rem 0;
  }

  .about-story {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    gap: 2rem;
  }

  .about-story h2 {
    color: var(--color-primary);
    position: relative;
  }

  .about-story h2::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 30%;
    height: 1px;
    background: var(--color-secondary);
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about-story img {
    width: 350px;
    height: 200px;
    object-fit: cover;
  }

  .about-events {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    gap: 2rem;
  }

  .about-story h2 {
    color: var(--color-primary);
    position: relative;
  }

  .about-events .event-images {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .event-images .image-1 img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    position: relative;
  }

  .event-images .image-2 img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    position: relative;
  }

  /* .image-1 .image-text-1 {
    position: absolute;
    bottom: 2.2rem;
    background: var(--color-secondary);
    width: 350px;
    height: 200px;
    opacity: .8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
  }

  .image-2 .image-text-2 {
    position: absolute;
    bottom: 2.2rem;
    background: var(--color-secondary);
    width: 350px;
    height: 200px;
    opacity: .8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
  } */
}

@media (min-width: 768px) {
  .about-home {
    background: url(./images/main_big.png) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .about-home .about-home-details {
    background: #f7f7f7;
    padding: 1.5rem 0;
    border: 3px solid white;
    margin: 1rem 12rem;
  }

  .about-home .date-time {
    margin-top: 5rem;
    display: grid;
    gap: 1rem;
  }
}